

#banner {
    background-color: dodgerblue;
    height: 100px;
    text-align:left; 
}

h1 {
    padding-top: 31px;
    padding-left: 20px;
    margin: 0em;
    color: #FFF;
}

#nav_bar {
    background-color: cornflowerblue;
    margin-top: 0em;
}

.nav_links {
    color: azure;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
}

li {
    display: inline;
    padding: 10px;
}

#main {
    width: 960px;
    margin: auto;
}

#fig1 {
    width: 600px;
    text-align: center;
}

#fig2 {
    width: 200px;
    text-align: center;
}

.slang {
    font-style: italic;
}
